<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCA Students Data</title>
    <link rel="stylesheet" href="/css/menustyle.css">
    <link rel="stylesheet" href="/css/utility.css">
</head>
<body>
    <div class="navbar red-border po-relative">
        <div class="register-button red-border">
            <a href="http://localhost:7000/register">Register</a>
        </div>
    </div>
    <div>
        <% users.forEach(user => { %>
        <div class="student border-box red-border">
            <div class="student-img-container red-border">
                <img class="red-border" src="<%= user.profileImage %>" alt="error">
            </div>
            <div class="student-name-container red-border">
                <a href="http://localhost:7000/users/<%= user.fullname %>" data-name="<%= user.fullname %>" class="student-name font1 red-border"><%= user.fullname%></a>
            </div>
        </div>
        <% }); %>
    </div>
</body>
<script type="module" src="/js/menu.js"></script>
</html>