<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCA Students Data</title>
</head>
<body>
    <div>
        <div class="anhinav">
            <a href="http://localhost:7000/Abhinav">Abhinav Pandey</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Anshuman">Anshuman Thakur</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Tarun">Tarun Prajapati</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Anupam">Anupam Raj</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Akhil">Akhil Pratap Singh</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Sadgyan">Sadgyan Singh</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Aman">Aman Gupta</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Suryakant">Suryakant Sahu</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Shivam">Shivam Sah</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Omkar">Omkar Kumar</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Prakhar">Prakhar Saxena</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Yashwant">Yashwant Giri</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Vibhavasu">Vibhavasu Bhadauria</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Sarthak">Sarthak Shukla</a>
        </div>
        <div class="anshuman">
            <a href="http://localhost:7000/Kamal">Kamal Singla</a>
        </div>
    </div>
</body>
</html>