<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCA Students Data</title>
    <link rel="stylesheet" href="menustyle.css">
    <link rel="stylesheet" href="utility.css">
</head>
<body>
    <div>
        <% StudentData.forEach(function(student){ %>
        <div class="student border-box red-border">
            <div class="student-img-container red-border">
                <img class="red-border" src="<%= student.profile_link %>" alt="error">
            </div>
            <div class="student-name-container red-border">
                <a class="student-name font1 red-border" href="http://localhost:7000<%= student.servename%>"><%= student.user_name%></a>
            </div>
        </div>
        <% }); %>
    </div>
</body>
</html>