<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link rel="stylesheet" href="/css/register.user.css">
    <link rel="stylesheet" href="/css/utility.css">
</head>
<body>
    <div class="navbar red-border">
        <div class="menu-button red-border">
            <a href="http://localhost:7000/menu">Menu</a>
        </div>
    </div>
    <form action="/submit" method="POST" enctype="multipart/form-data">
        <div class="register-box red-border">
            <div class="red-border input-box">
                <label class="label font2" for="profileImage">Profile Photo</label>
                <input class="input-area" type="file" name="profileImage" id="profileImage" class="profileImage">
            </div>
            <div class="red-border input-box">
                <label class="label font2" for="about">Tell me about you</label>
                <input class="input-area" type="text" id="about" class="about" name="about">
            </div>
            <div class="red-border input-box">
                <label class="label font2" for="fullname">Full Name</label>
                <input class="input-area" type="text" id="fullname" class="fullname" name="fullname">
            </div>
            <div class="red-border input-box">
                <label class="label font2" for="profession">Enter your profession</label>
                <input class="input-area" type="text" id="profession" class="profession" name="profession">
            </div>
            <div class="red-border input-box">
                <label class="label font2" for="dob">Date of birth</label>
                <input class="input-area" type="date" id="dob" class="dob" name="dob" id="dob">
            </div>
            <div class="red-border input-box">
                <label class="label font2" for="father_name">Father's Name</label>
                <input class="input-area" type="text" id="father_name" class="father_name" name="father_name">
            </div>
            <div class="red-border input-box">
                <label class="label font2" for="mother_name">Mother's Name</label>
                <input class="input-area" type="text" id="mother_name" class="mother_name" name="mother_name">
            </div>
            <div class="red-border input-box">
                <label class="label font2" for="user_location">Location</label>
                <input class="input-area" type="text" id="user_location" class="user_location" name="user_location">
            </div>
            <div class="red-border submit-box">
                <button class="submit" type="submit" id="Register">Register</button>
            </div>
        </div>
    </form>
    
</body>
<!-- <script src="/public/js/registerUser.js"></script> -->
</html>