/* .red-border{
    border: .01px solid red;
} */
.margin-4px{
    margin: 4px;
}
.margin-auto{
    margin: auto;
}
.white-border{
    border: .01px solid white;
}
.bgDark{
    background-color: #121212;
    color: white;
}
.bgBlack{
    background-color: black;
    color: white;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-left{
    justify-content: left;
}
.align-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.font1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.font2{
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: "Work Sans", sans-serif;
}
.font3{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text-size1{
    font-size: 17px;
}
.text-size2{
    font-size: 12px;
}
.borderRadius{
    border-radius: 8px;
}
.po-Relative{
    position: relative;
}
.Flow-Auto{
    overflow: auto;
}
.Album-Header{
    margin-top: 30px;
}
.inLine{
    display: inline;
}
.play-pause{
    width: 18px;
}
.music-logo{
    width: 30px;
}
.position-last{
    position: absolute;
    right: 5px;
}
.border-box{
    box-sizing: border-box;
}