body{
    background-color: rgb(255, 231, 231);
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    margin-top: .8vh;
    background-color: rgb(221, 152, 152);
    height: 2.3vw;
    padding: .5vw;
}
.register-button{
    display:inline-flex;
    position: absolute;
    right: 3vw;
}
.register-button a{
    background-color: rgb(32, 21, 115);
    padding: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1.5vw;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.student{
    display: flex;
    background-color: rgb(36, 36, 36);
    border-radius: 1vw;
    padding: 2vw;
    margin: 1vw;
}
.student-img-container{
    padding:.3vw;
    background-color: rgb(70, 70, 70);
    border-radius: 12vw;
}
.student-img-container img{
    width: 7vw;
    height: 7vw;
    border-radius: 10vw;
}
.student-name-container{
    padding: 3vw;
    margin-left: 5vw;
}
.student-name{
    background-color: rgb(70, 70, 70);
    padding: .5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 1.5vw;
    color: #ffffff;
    text-decoration: none;
}

/* Entire scrollbar */
::-webkit-scrollbar {
    width: 16px;  /* width for vertical scrollbar */
    height: 12px; /* height for horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #2c2c2c; /* dark background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #1a1a1a; /* dark handle color */
    border-radius: 10px;       /* roundness of the handle */
    border: 3px solid #2c2c2c; /* padding around the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;  /* slightly lighter on hover */
}