body{
    background-color: rgb(255, 231, 231);
}
*{
    margin: 0;
    padding: 0;
}
.card{
    margin: 10px;
    border: 2px solid black;
    height: 100%;
    border-radius: 1.5vw;
}
.left{
    margin: 2vw;
    /* background-color: #272727;
    border-radius: 2vw; */
}
.pofile-container{
    margin: 4.6vw;
    width: 18vw;
    height: 18vw;
    padding: .4vw;
    border-radius: 20vw;
    background-color: #c2c2c2;
}
.pofile-container img{
    width: 18vw;
    height: 18vw;
    border-radius: 20vw;
    object-fit: cover;
}
.about-container{
    width: 24vw;
    padding: 2vw;
}
.about{
    font-size: 1.4vw;
    word-spacing: 1.3vw;
}
.right{
    margin: 2vw;
    margin-left: 0vw;
    width: 65vw;
    background-color: #272727;
    border-radius: 2vw;
}
.name-container{
    margin: 1vw;
    padding: 1vw;
}
.name{
    font-size: 3vw;
    /* text-align: center; */
}
.personal-info-container{
    margin: .5vw;
    margin-left: 3vw;
    display: inline-block;
}
.personal-info-heading{
    margin: .2vw;
}
.personal-info{
    margin: 1vw;
}